@using FindJob.Models;
@model JobDTO
<h2>Edit Job</h2>

<form asp-action="Edit" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="JobTitle"></label>
        <input asp-for="JobTitle" class="form-control" />
        <span asp-validation-for="JobTitle" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CompanyName"></label>
        <input asp-for="CompanyName" class="form-control" />
        <span asp-validation-for="CompanyName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CompanyPhoneNumber"></label>
        <input asp-for="CompanyPhoneNumber" class="form-control" />
        <span asp-validation-for="CompanyPhoneNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
